{# src/NW/PrincipalBundle/Resources/views/registronovios.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}

{% include ':plantillasParciales:top.html.twig' %}

<div class="container">
	{{ form_start(form) }}

	<div class="row">
		<div class="col-xs-10">
			<h1><img src="{{ asset('img/registro.jpg') }}" alt="Registro" width="210"></h1>			
			<p>Si son una pareja que quiere simplificar la planeación de su boda, por favor regístrense.</p>
			{% for flashMessage in app.session.flashbag.get('notice') %}
				<div class="alert alert-warning">{{ flashMessage }}</div>
			{% endfor %}
		</div>
	</div>

	<div class="row" style="margin-top:20px;">
		<div class="col-xs-8">
			<h3>Datos de la Novia:</h3>
		</div>
	</div>
{#
	<div class="row">
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.novias.nombre) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" width="210"> {{ form_widget(form.novias.nombre, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Nombre' } }) }}
			{{ form_widget(form.novias.sNombre, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Segundo Nombre' } }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novias.aPaterno) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" width="210"> {{ form_widget(form.novias.aPaterno, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Apellido Paterno' } }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novias.aMaterno) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" width="210"> {{ form_widget(form.novias.aMaterno, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Apellido Materno' } }) }}
		</div>
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.novias.eMail) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novias.eMail, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'E-Mail (PRINCIPAL)' } }) }}
			<div class="col-xs-3" style="padding: 0 10px 0 0;">
				<span class="error-formulario">{{ form_errors(form.novias.lada) }}</span>
				<img src="{{ asset('img/punto.png') }}">
				{{ form_widget(form.novias.lada, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'LADA'} }) }}
			</div>
			<div class="col-xs-9" style="padding: 0;">
				<span class="error-formulario">{{ form_errors(form.novias.telefono) }}</span>
				{{ form_widget(form.novias.telefono, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Teléfono de casa u oficina'} }) }}
			</div>
			<div class="col-xs-12" style="padding: 0;">
				<span class="error-formulario">{{ form_errors(form.novias.celular) }}</span>
				<img src="{{ asset('img/punto.png') }}">
				{{ form_widget(form.novias.celular, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Celular' } }) }}
			</div>
		</div>
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.novias.direccion) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novias.direccion, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Dirección' } }) }}
			<br/>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novias.pais, { 'attr': {'class': 'input_registro_novios'} }) }}
			<br />
			<span class="error-formulario">{{ form_errors(form.novias.estado) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novias.estado, { 'attr': {'class': 'input_registro_novios'} }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novias.ciudad) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novias.ciudad, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Ciudad' } }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novias.cp) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novias.cp, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Código postal' } }) }}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			{{ form_widget(form.mismaDireccion) }} {{ form_label(form.mismaDireccion, '¿La dirección del novio es la misma que de la novia?') }}
		</div>
	</div>

	<div class="row" style="margin-top:20px;">
		<div class="col-xs-8">
			<h3>Datos del Novio:</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.novios.nombre) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:15px;" width="210">{{ form_widget(form.novios.nombre, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Nombre' } }) }}
			<br/>
			{{ form_widget(form.novios.sNombre, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Segundo Nombre' } }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novios.aPaterno) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:15px;" width="210">{{ form_widget(form.novios.aPaterno, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Apellido Paterno' } }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novios.aMaterno) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:15px;" width="210">{{ form_widget(form.novios.aMaterno, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Apellido Materno' } }) }}
		</div>
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.novios.eMail) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novios.eMail, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'E-Mail' } }) }}
			<div class="col-xs-3" style="padding: 0 10px 0 0;">
				<span class="error-formulario">{{ form_errors(form.novios.lada) }}</span>
				<img src="{{ asset('img/punto.png') }}">
				{{ form_widget(form.novios.lada, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'LADA'} }) }}
			</div>
			<div class="col-xs-9" style="padding: 0;">
				{{ form_widget(form.novios.telefono, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Teléfono de casa u oficina'} }) }}
			</div>
			<div class="col-xs-12" style="padding: 0;">
				<span class="error-formulario">{{ form_errors(form.novios.celular) }}</span>
				<img src="{{ asset('img/punto.png') }}">
				{{ form_widget(form.novios.celular, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Celular' } }) }}
			</div>
		</div>
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.novios.direccion) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novios.direccion, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Dirección' } }) }}
			<br/>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novios.pais, { 'attr': {'class': 'input_registro_novios'} }) }}
			<br />
			<span class="error-formulario">{{ form_errors(form.novios.estado) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novios.estado, { 'attr': {'class': 'input_registro_novios'} }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novios.ciudad) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novios.ciudad, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Ciudad' } }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.novios.cp) }}</span>
			<img src="{{ asset('img/punto.png') }}">
			{{ form_widget(form.novios.cp, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Código postal' } }) }}
		</div>
	</div>

	<div class="row" style="margin-top:20px;">
		<div class="col-xs-10">
			<h3>Datos de Usuario:</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.userName) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:12px;" width="210">{{ form_widget(form.userName, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Usuario' } }) }}
			<br/>
			<span class="error-formulario">{{ form_errors(form.userPass) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:12px;" width="210">{{ form_widget(form.userPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Contraseña' } }) }}
			<br />
			La contraseña debe tener mínimo 8 caracteres
		</div>
		<div class="col-xs-4 puntosRosas">
			<span class="error-formulario">{{ form_errors(form.terminosCondiciones) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:7px;" width="210">{{ form_widget(form.terminosCondiciones) }} 
			<a href="{{asset('documents/TerminosYCondicionesNWNovios.pdf')}}" target="_blank">
				Acepto los términos y condiciones generales
			</a><br />
			<span class="error-formulario">{{ form_errors(form.terminosPrivacidad) }}</span>
			<img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:7px;" width="210">{{ form_widget(form.terminosPrivacidad) }}
			<a href="{{asset('documents/CondicionesDeUsoGeneralYDeRegistroYAvisoDePrivacidadNewlyWishesNovios.pdf')}}" target="_blank">
				Acepto las Condiciones de Uso General y de Registro y Aviso de privacidad
			</a><br />
		</div>
		<div class="col-xs-4">
			{{ form_widget(form.codigoPromocion, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Código de promoción' } }) }}
			<br />
			{{ form_widget(form.aceptar, { 'attr': {'class': 'botoncitoRosa', 'style': 'width:100px; margin-top:2px; bottom:0px;' } }) }}
		</div>
	</div>

	{{ form_end(form) }}

	#}
</div>

{% endblock %}