{% trans_default_domain 'FOSUserBundle' %}

<!doctype html>
<html lang="{{app.request.locale}}">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}PartyGift{%endblock%}</title>
    <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('css/jquery.modal.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{asset('js/jquery-1.9.0.min.js')}}"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="{{asset('js/jquery.scrollTo-1.4.3.1-min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.modal.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/simpleCart.min.js')}}"></script>
</head>
<body class="body-micuenta">
    <div class="all-wrapper body-micuenta">
        <header>
            <div class="max-wrapper">
                <h1 class="logo">
                    <a href="{{url('pg_party_homepage')}}">
                        <img src="{{asset('img/partygift-logo.png')}}" />
                        <span class="oculto">Party Gift</span>
                    </a>
                </h1>
                
                {% if app.user %}
	                <div class="salir-cuenta">
	                    <a href="{{ path('fos_user_security_logout') }}">{% trans %}salir{% endtrans %}</a>
	                </div>
	            {% endif %}
                {% include ':plantillasParciales:cuentaBox.html.twig' %}
            </div>
            <div class="cuenta-info-top">
                <div class="max-wrapper">
                    
                </div>
            </div>
        </header>

        <div class="espacio-header"></div>
        <div class="cuenta-content">
            <div class="max-wrapper">
                <div style="background-color:black; color:white; margin-top:30px; padding:40px; border-radius: 8px 8px 8px 8px;">
                    

                   	
					<div class="container">
						<div class="cuadro img-responsive text-center">
							
							La contraseña se ha cambiado con éxito <br> 
                            Password has been changed successfully

							<div class="fos_user_user_show" style="font-size:13px;">
							    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
							</div>

						</div>
					</div>
							


                </div>
            </div>
        </div>

        {% block footer %}
            {% include ':plantillasParciales:footer.html.twig' %}
        {% endblock %}
    </div>
</div>

{% block modales %}
    {% include ':plantillasParciales:modalErrores.html.twig' %}
{% endblock %}

</body>
</html>

