<div class="cuenta-box">
	<div class="bucketgifts">
		<a href="#carrito" rel="modal:open">
			<img class="bucketazul" src="{{asset('img/bucketazul.png')}}" width="50"/>
			<span class="bucket-number simpleCart_quantity"></span>
		</a>
	</div>
	<div class="idioma-moneda">
		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">Español</a> | <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a>
	</div>
	{% if app.user %}
		<div class="datos">{{ app.user.nombre }}{% if is_granted('ROLE_USER') %} - <a href="{{ url('pg_party_miCuenta') }}">{% trans %}Mi cuenta{% endtrans %}</a>{% endif %}</div>
	{% endif %}

</div>