<!doctype html>
<html lang="{{app.request.locale}}">
<head>
	<meta charset="UTF-8">
	<title>{%block title%}PartyGift{%endblock%}</title>
	<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
	<link href="{{asset('css/jquery.modal.css')}}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{asset('js/jquery-1.9.0.min.js')}}"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javascript" src="{{asset('js/jquery.scrollTo-1.4.3.1-min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jquery.modal.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/simpleCart.min.js')}}"></script>
</head>
<body class="body-micuenta">
	<div class="all-wrapper body-micuenta">
		<header>
			<div class="max-wrapper">
				<h1 class="logo">
					<a href="{{url('pg_party_homepage')}}">
						<img src="{{asset('img/partygift-logo.png')}}" />
						<span class="oculto">Party Gift</span>
					</a>
				</h1>
				<div class="salir-cuenta"><a href="{{ path('fos_user_security_logout') }}">{% trans %}salir{% endtrans %}</a></div>
				{% include ':plantillasParciales:cuentaBox.html.twig' %}
			</div>
			<div class="cuenta-info-top">
				<div class="max-wrapper">
					<ul>
						<li>{% trans with {'%name%': app.user.nombre} %}Bienvenido <span class="rosa-persona bold">%name%</span>{% endtrans %} <a href="#mis-datos" rel="modal:open">({% trans %}modificar datos{% endtrans %})</a>
						</li>
						<li style="width:21%">{% trans %}Saldo{% endtrans %}: <span class="rosa-persona bold">${{app.user.getSaldoFormateado}} {{app.user.moneda}}</span></li>
						<li><span class="rosa-persona bold show-paypal">{% trans %}retirar{% endtrans %}</span>
							<div id="login" class="login wow bounceIn retiro-paypal">
								<form action="{{ path('pg_party_miCuenta') }}" name="nw_principalbundle_solicitudretiro" method="post" {{ form_enctype(formModificarCuenta) }}>
									<input type="text" id="nw_principalbundle_solicitudretiro_amount" name="nw_principalbundle_solicitudretiro[amount]" required="required" placeholder="{% trans %}monto{% endtrans %}">
									<input id="nw_principalbundle_solicitudretiro_cuentaPaypal" name="nw_principalbundle_solicitudretiro[cuentaPaypal]" required="required" type="text" placeholder="{% trans %}cuenta de paypal{% endtrans %}">
									{{form_widget(formSolicitudRetiro._token)}}
									<input type="submit" value="{% trans %}enviar{% endtrans %}">
								</form>
							</div>
						</li>
						<li><div class="info-ball tooltip" title="{% trans %}Para poder retirar el saldo de tu cuenta, es necesario que tengas una cuenta PayPal (correo electrónico registrado en PayPal). Si no lo tienes, es muy fácil, rápido y seguro, sólo tienes que ingresar a www.PayPal.com o dar click en el ícono del lado derecho y registrarte para vincular tu correo electrónico a tu cuenta PayPal. Recuerda que sólo podrás retirar el saldo de tu cuenta a través de PayPal. Si tienes preguntas, no dudes en contactarnos.{% endtrans %}">?</div> <a href="https://www.paypal.com/mx/cgi-bin/webscr?cmd=_minimal-signup" target="_blank"><img src="{{asset('img/paypal.png')}}" width="90"/></a></li>
					</ul>
				</div>
			</div>
		</header>

		<div id="mis-datos" class="modal" style="display:none;">
			<h2>{% trans %}Mis datos{% endtrans %}</h2><br/>



			<form action="{{ path('pg_party_miCuenta') }}" method="post" {{ form_enctype(formModificarCuenta) }}>
				{{ form_errors(formModificarCuenta) }}
			    {{ form_row(formModificarCuenta.email) }}
				{{ form_row(formModificarCuenta.nombre) }}
				{{ form_row(formModificarCuenta.apellidos) }}
				<br/>
				<h3>{% trans %}Cambiar contraseña{% endtrans %}</h3><br/>
				{{ form_row(formModificarCuenta.oldPass) }}
				{{ form_row(formModificarCuenta.newPass) }}
				{{ form_rest(formModificarCuenta) }}
				<input type="submit" value="{% trans %}guardar cambios{% endtrans %}">
			</form>




		</div>

		<div id="nuevo-bucket" class="modal" style="display:none;">
			<h2>{% trans %}Nuevo bucketgift{% endtrans %}</h2><br/>
			<form action="{{ path('pg_party_miCuenta') }}" method="post" {{ form_enctype(formBucketGift) }}>
				{{ form_widget(formBucketGift) }}
				<input type="submit" style="cursor:pointer;" value="{% trans %}Agregar{% endtrans %}">
			</form>
		</div>

		<div id="nuevo-party" class="modal" style="display:none;">
			<h2>{% trans %}Nuevo{% endtrans %} <span class="bolder">party</span>gift</h2><br/>
			<form action="{{ path('pg_party_miCuenta') }}" method="post" {{ form_enctype(formModificarCuenta) }}>
				
				{{ form_widget(formPartyGift) }}
	
				<br/>

				<input type="submit" style="cursor:pointer;" value="{% trans %}Agregar{% endtrans %}">
			</form>
		</div>

		<!-- FIN MODALES -->
		<div class="espacio-header"></div>
		<div class="cuenta-content">
			<div class="max-wrapper">
				<nav class="nav-cuenta">
					<table>
						<tr>
							<td colspan="2"><h2>{% trans %}Mis bucketgifts{% endtrans %}</h2></td>
							<td style="width:67px;"><a href="#nuevo-bucket" rel="modal:open"><span class="signomas-rosa">+</span> <img src="{{asset('img/bucketazul.png')}}" width="30"/></a>
								<div class="sin-bucketgifts"><div class="triangulo-negro"></div>{% trans %}Para comenzar primero crea un bucketgift y después selecciónalo para crear tus partygifts.{% endtrans %}</div>
							</td>
						</tr>
						{% for bucketgift in bucketGifts %}
							<tr>
								<td><img class="tooltip" src="{{asset('img/calendario.png')}}" width="25" title="{{bucketgift.getFechaFormateada}}"/></td>
								<td class="abrir-evento" data-id="{{bucketgift.id}}">{{bucketgift.titulo}}</td>
								<td><a href="{{url('pg_party_bucketgift_delete', {'id': bucketgift.id})}}"><img src="{{asset('img/basura-gris.png')}}" width="40"/></a></td>
							</tr>
						{% endfor %}
					</table>
				</nav>
				<section id="eventos-cuenta" style="display:none;">
					<div class="sin-evento">
						<h2>Para comenzar primero crea un <span class="bolder">bucket</span>gift y después seleccionalo para crear tus <span class="bolder">party</span>gifts.</h2>
					</div>
					<div class="evento-seleccion" style="display:none;">
	
						{% for bucketgift in bucketGifts %}
							<div class="evento-contenido hide" id="evento-{{bucketgift.id}}">
								<ul class="menu-eventos header-eventos">
									<li><h2>{{bucketgift.titulo}}</h2></li>
									<li>{{bucketgift.getFechaFormateada}}</li>
								</ul>
								<ul class="menu-eventos">
									<li><a href="#">{% trans %}¿Quién me regaló partygifts?{% endtrans %} (PDF)</a></li>
									<li><a href="#nuevo-party" rel="modal:open">{% trans %}Agrega partygifts{% endtrans %}</a></li>
								</ul>
								{% for partygift in bucketgift.mesaregalos %}
									<ul class="evento-micuenta">
										<li>
											<h3 class="texto-evento-grande">Gift {{loop.index}} - {{partygift.regalo}} - <a class="ver-evento" href="{{ url('pg_party_party', {'id': partygift.id}) }}" target="_blank">{% trans %}COMPARTIR PARTYGIFT{% endtrans %}</a></h3>
											<p>{{partygift.descripcion}}</p>
											<ul class="gifts-partes">
												<li>{% trans %}Gifts comprados{% endtrans %}: <span class="texto-evento-grande">{{partygift.horcruxesPagados}}</span></li>
												<li>{% trans %}Partes restantes{% endtrans %}: <span class="texto-evento-grande">{{partygift.cantidad * partygift.horcruxes - partygift.horcruxesPagados}}</span></li>
											</ul>
										</li>
										<li>
											<a href="{{url('pg_party_partygift_delete', {'id': partygift.id})}}"><img class="basura-negro" src="{{ asset('img/basura-negro.png') }}" width="50"></a>
											{% trans %}Valor{% endtrans %}<br/>
											<span class="texto-evento-grande">${{partygift.getPrecioTotalFormateado}} {{moneda}}</span><br/><br/>
											{% trans %}Gift dividido en{% endtrans %}<br/>
											<span class="texto-evento-grande">{{partygift.horcruxes}} {% trans %}partes{% endtrans %}</span><br/><br/>
											{% trans %}Valor por parte{% endtrans %}</br>
											<span class="texto-evento-grande">${{partygift.getPrecioParteFormateado}} {{moneda}}</span><br/><br/>
										</li>
									</ul>
								{% endfor %}
							</div>
						{% endfor %}
						
					</div> 
				</section>
			</div>
		</div>
		{% block footer %}
			{% include ':plantillasParciales:footer.html.twig' %}
		{% endblock %}
	</div>
</div>

{% block modales %}
	{% include ':plantillasParciales:modalCarrito.html.twig' %}
	{% include ':plantillasParciales:modalErrores.html.twig' %}
{% endblock %}

<script>
	$( ".show-paypal" ).click(function() {
		$( "div#login" ).toggleClass( "show" );
	});

	$( "#buscar-click" ).click(function() {
		$( "div.eventos" ).toggleClass( "show" );
	});

	var panelActivo = false;

	$( ".abrir-evento" ).click(function() {
		if(!panelActivo || !$(this).hasClass("active"))
		{
			$( ".evento-seleccion" ).addClass( "show" );
			$( ".sin-evento" ).addClass( "hide" );
			$( ".sin-bucketgifts" ).addClass( "hide" );
			$( "#eventos-cuenta" ).addClass( "show-inline" );
			$(".abrir-evento").removeClass("active");
			$(this).addClass("active");
			$(".evento-contenido").addClass("hide");
			$("#evento-"+$(this).data("id")).removeClass("hide");
			panelActivo = true;
			$('#nw_principalbundle_mesaregalos_bucketGiftId').val($(this).data("id"));
		}
		else if(panelActivo && $(this).hasClass("active"))
		{
			$( ".evento-seleccion" ).removeClass( "show" );
			$( ".sin-evento" ).removeClass( "hide" );
			$( ".sin-bucketgifts" ).removeClass( "hide" );
			$( "#eventos-cuenta" ).removeClass( "show-inline" );
			$(".abrir-evento").removeClass("active");
			$(".evento-contenido").addClass("hide");
			panelActivo = false;
		}
		
	});

	$( "#buscar-click" ).click(function() {
		$( "#evento-desplegar" ).toggleClass( "hide" );
	});

	$( ".evento-tr" ).click(function() {
		$( "#evento-desplegar" ).toggleClass( "hide" );
		$( "#evento-desplegar" ).toggleClass( "show" );
	});
</script>
<script>
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '<Ant',
		nextText: 'Sig>',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
	};
	$.datepicker.setDefaults($.datepicker.regional['es']);
	$(function() {
		$( "#pg_partybundle_bucketgift_date" ).datepicker({
			inline: true,
			showOtherMonths: true
		})
		.datepicker('widget').wrap('<div class="ll-skin-lugo"/>');
	});

	$(document).ready(function() {
    	$("#errores").modal();
    	{% for bucketgift in bucketGifts %}
    		{% if bucketgift.getStatus %}
    			$( ".evento-seleccion" ).addClass( "show" );
				$( ".sin-evento" ).addClass( "hide" );
				$( ".sin-bucketgifts" ).addClass( "hide" );
				$( "#eventos-cuenta" ).addClass( "show-inline" );
				$(".abrir-evento").removeClass("active");
				$('*[data-id="{{bucketgift.id}}"]').addClass("active");
				$(".evento-contenido").addClass("hide");
				$("#evento-{{bucketgift.id}}").removeClass("hide");
				panelActivo = true;
				$('#nw_principalbundle_mesaregalos_bucketGiftId').val("{{bucketgift.id}}");
    		{% endif %}
    	{% endfor %}
    });

</script>
<script>
	$(function() {
		$( ".tooltip" ).tooltip();
	});

	simpleCart({
	    checkout: {
	        type: "SendForm" , 
	        url: "{{ url('nw_paypal_express_checkout_prepare_purchase') }}",
	        method: "POST",
	    },
	    cartStyle: "table", 
	    cartColumns: [
	        { attr: "currency"},
	        { attr: "userid"},
	        { attr: "nombre"},
	        { attr: "itemid" , label: "ID" },
	        { attr: "name" , label: "Gift" },
	        { attr: "description" , label: "{% trans %}Descripción{% endtrans %}" },
	        { attr: "price" , label: "{% trans %}Precio{% endtrans %}", view: 'currency' } ,
	        { view: "decrement" , label: false , text: "-" } ,
	        { attr: "quantity" , label: "{% trans %}Cantidad{% endtrans %}" } ,
	        { view: "increment" , label: false , text: "+" } ,
	        { attr: "total" , label: "SubTotal", view: 'currency' } ,
	        { view: "remove" , text: "{% trans %}Remover{% endtrans %}" , label: false }
	    ]
	});
    simpleCart.shipping(function(){
        return simpleCart.total()*.06+4;
    });

    var itemTemporal;

simpleCart.bind( 'beforeAdd' , function( item ){
    var items = [];
    var itemsNombre = [];
    //var itemsIndizados = [];
    simpleCart.each(function( item , x ){
        items.push( item.get('userid') );
        itemsNombre.push( item.get('nombre') );
        //itemsIndizados[item.get('userid')] = item.get('nombre');
    });

    if(!verificarCarrito(items, item.get('userid')))
    {
        itemTemporal = item;
        actualizarBotones(itemsNombre[0], item.get('nombre'))
        $("#seleccion").modal();
        return false;
    }

    simpleCart.currency(item.get("currency"));
    $("#carritoCurrency").html(item.get("currency"));

});

// Funcion que busca los nombre de los dos usuarios a quienes se les quiere regalar y actualiza los botones
function actualizarBotones(nombre1, nombre2)
{
    // Primer botón
    $("#seleccion1").html(nombre1);

    // Segundo botón
    $("#seleccion2").html(nombre2);
}

// Verdadero si todo está bien, falso si se tiene que abrir el modal
function verificarCarrito(usuarios, usuarioActual)
{
    for (var i = usuarios.length - 1; i >= 0; i--)
    {
        if (usuarios[i] != usuarioActual)
        {
            return false;
        }
    }
    return true;
}

// Clic en el boton1 de seleccion
$("#seleccion1").click(function() {
    // Solo cerrar modal
    $.modal.close();
});

// Clic en el boton2 de seleccion
$("#seleccion2").click(function() {
    simpleCart.empty();
    simpleCart.add({ 
        currency: itemTemporal.get("currency"),
        userid: itemTemporal.get("userid"),
        nombre: itemTemporal.get("nombre"),
        itemid: itemTemporal.get("itemid"),
        name: itemTemporal.get("name"),
        description: itemTemporal.get("description"),
        price: itemTemporal.get("price"),
        quantity: itemTemporal.get("quantity")
    });
    simpleCart.currency(itemTemporal.get("currency"));
    $("#carritoCurrency").html(itemTemporal.get("currency"));
    //despues cerrar modal
    $.modal.close();
});


// Cuando carga el carrito, se establece su moneda
simpleCart.ready( function(){
    simpleCart.each(function( item , x ){
        simpleCart.currency(item.get("currency"));
        $("#carritoCurrency").html(item.get("currency"));
    });
});

</script>

{% set transaccion = app.session.flashbag.get("transaccion") %}
{% if (transaccion is not empty) %}
    <script>
        $(document).ready(function(){
            simpleCart.empty();
        });
    </script>
{% endif %}

<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
</body>
</html>