{# src/NW/PrincipalBundle/Resources/views/funcionamiento.html.twig #}

{% extends '::base.html.twig' %}

	{% block body %}
	
		{% include ':plantillasParciales:top.html.twig' %}

		<div class="container">
        	<div class="row">
        		<div class="col-xs-8">
        			<div class="row">
			            <div class="col-xs-2 numeros">
			            	<img src="{{ asset('img/uno.png') }}" class="numer" style="margin-top:10px; margin-left:24px;">
			            </div>
			            <div class="col-xs-6">
			            	<h1>Regístrate</h1>
			            	<p>Con sólo unos cuantos clicks, podrás tener acceso a los mejores servicios de NewlyWishes, donde podrás planear tu boda totalmente gratis y hasta crear tu mesa de regalos. Con NewlyWishes tu mesa de regalos es virtual, tu defines los regalos y el costo que quieres. Todo lo regalado, se te depositará en tu cuenta para que aproveches las mejores oportunidades y los mejores descuentos. No esperes más regístrate y comienza a planear tu boda de manera como un profesional.</p>
			            </div>
			            <div class="col-xs-4" style="margin-top:50px;">
			            	<img src="{{ asset('img/llave.jpg') }}" />
			            </div>         
					</div>
        			<div class="row" style="margin-top:20px;">
        				<hr />	
			            <div class="col-xs-2 numeros">
			            	<img src="{{ asset('img/dos.jpg') }}" style="margin-top:40px; margin-left:30px;" />
			            </div>
			            <div class="col-xs-6">
			            	<h1>Planea y comparte</h1>
			            	<p>Con NewlyWishes, podrás llevar paso a paso la planeación de tu boda…fechas, compromisos, citas, pendientes, padrinos, etc. <br />Podrás llevar el control de tus invitados y hasta llevar el control de tu mesa de regalos, un control total de tu boda desde tu computadora, iPhone, iPad o cualquier otro dispositivo móvil con acceso a internet.
			 				</p>
			 			</div>
			       		<div class="col-xs-4" style="margin-top:0px;">
			       			<img class="modulo2" src="{{ asset('img/pluma.jpg') }}" style="margin-top:30px; margin-left:20px;" />
			       		</div>	
					</div>
					<hr />
					<div class="row" style="margin-top:20px;">
             			<div class="col-xs-2 numeros">
             				<img src="{{ asset('img/tres.jpg') }}" class="numerTres" style="margin-top:20px;margin-left:30px;"/>
             			</div>
             			<div class="col-xs-6">
             				<h1>Disfruta</h1>
             				<p>Olvídate de papeles, agendas y listados. Como NewlyWishes trabaja en la nube, podrás acceder a tu cuenta, planear y dar seguimiento a tu boda desde cualquier parte del mundo y at través de cualquier dispositivo. </p>
             			</div>
             			<div class="col-xs-4">
             				<img class="modulo2" src="{{ asset('img/copas.jpg') }}" style="margin-top:-0px;" />
             			</div>
           			</div> 
         		</div>
          		<div class="col-xs-4" style="margin-top:20px;">
            		<div class="registro" style="height: 380px;">
            			<img src="{{ asset('img/registrogris.jpg') }}">
            			<p>Abre tu cuenta ahora,<br />
						<span class="text-important">recomienda y gana</span>
						</p>
						<p>Con nuestra herramienta podrás planear tu boda como un profesional. Además aprovecha grandes promociones.
						</p>
						<hr />
						<a href="{{ path('nw_user_registronovios') }}" class="enviar_form" style="float:none; padding: 8px 38px; font-size: 14px;">Regístrate aquí</a>
						<br />
						<a href="{{url('nw_principal_homepage')}}connect/facebook"><button id="loginface" class="btn btn-default enviar_form" style="background-color: #1543A5; width: 171px; float: none; margin-top: 22px;">Regístrate con Facebook</button></a>
            		</div>
				</div>
			</div>
		</div>

	{% endblock %}