{# src/NW/PrincipalBundle/Resources/Views/Default/mesaderegalos.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}

    {% include ':plantillasParciales:top.html.twig' %}

	{% include 'NWPrincipalBundle:Default:carrito.html.twig' %}

    <div class="container">
        
        <h4 style="margin-top: -35px;">Mesa de Regalos de <span class="esc">{{noviaYnovio}}</span></h4>

        <div class="row" style="margin-top:45px">
        {% if articulos %}
        	<div class="col-xs-4">
                <div class="caja-gris-filtro" style="height: 287px;">
            		<h3 style="font-weight: bold;">Filtrar regalos</h3>
            		<br />
            		{{ form_start(formFiltrar) }}
                        {{ form_widget(formFiltrar.categoria, { 'attr': {'class': 'form-control input11'} }) }}
                        <br />
                        {{ form_widget(formFiltrar.precioArticulo, { 'attr': {'class': 'form-control input11'} }) }}
                        <br />
                        {{ form_widget(formFiltrar.precioParte, { 'attr': {'class': 'form-control input11'} }) }}
                        <br />
                        {{ form_widget(formFiltrar.Filtrar, { 'attr': {'class': 'enviar_form', 'style': 'width: 120px;float: right;margin-top:20px;', 'placeholder': '' } }) }}
                        <br />
            		{{ form_end(formFiltrar) }}
                </div>
        	</div>
        	<div class="col-xs-8">

        		{% for articulo in articulos %}
            		<div class="row simpleCart_shelfItem" style="border-top-color: rgb(214, 214, 214);border-top-width: 1px;border-top-style: solid;padding-top: 20px;">
            			<div class="col-xs-7">
            				<h5><span class="esc" style="font-size:20px;"><span class="item_name">{{articulo.regalo}}</span> - {{articulo.categoriaName}}</span></h5>
            				<br />
            				<p class="item_description">{{articulo.descripcion}}</p>
                            <span class="invisible item_itemid">{{articulo.id}}</span>
                            <span class="invisible item_pareja">{{noviaYnovio}}</span>
            				<br />
            				<b>¿Cuántas partes deseas regalar? </b>&nbsp;&nbsp;&nbsp;
                            <select id="regalarPartes" name="regalarPartes" class="item_Quantity">
                                {% for i in 1..articulo.horcruxesFaltantes %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                            <span style="float:right;">
                                <a href="javascript:;" class="btn amarillo-boton item_add">Agregar</a>
                            </span>
            			</div>
            			<div class="col-xs-5">
            				<b>Valor</b><br />

        					<span class="mesa-regalos-rosa-big">${{articulo.precioTotal}}</span><br /><br />
        					<b>
        						{% if articulo.cantidad == 1 %}Artículo dividido en{% else %}{{articulo.cantidad}} artículos divididos en{% endif %}
        					</b><br />
        					<span class="mesa-regalos-rosa-big">{{articulo.horcruxes}} 
        					{% if articulo.horcruxes == 1 %}parte{% else %}partes{% endif %}
        					{% if articulo.cantidad > 1 %}c/u{% endif %}</span>

        					<br /><br />
	            			
            				<b>Valor por parte</b><br />
            				<span class="mesa-regalos-rosa-big item_price">${{articulo.precioParte}}</span>
            			</div>
            		</div>
            	{% endfor %}
            
        	</div>
        {% else %}
        	<h5>No se encontraron regalos.</h5>
        {% endif %}
        </div>

    </div>

{% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script>
        simpleCart({
            checkout: {
                type: "SendForm" , 
                url: "{{ url('nw_paypal_express_checkout_prepare_purchase') }}",
                method: "POST",
            },
            currency: "MXN",
            language: "spanish-mx",
            cartColumns: [
                { attr: "description" , label: "Description" } ,
                { attr: "itemid" , label: "Id del Item" } ,
                { attr: "pareja" , label: "Pareja" } ,
            ]
        });
    </script>
{% endblock %}