{# src/NW/PrincipalBundle/Resources/views/Proveedores/misbanners.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}
		
			<div class="row">
				<div class="col-xs-6">

				</div>
				<div class="col-xs-1">
					<img class="puntov" src="{{asset('img/puntov.png')}}">
				</div>
				<div class="col-xs-5">
					<h1>Mis Banners Promocionales</h1>	
				</div>	
				<div class="row">
					<div class="col-xs-9">
						
					</div>
					<div class="col-xs-2">
						<p class="verde">Nuevo banner</p>	
					</div>
					<div class="col-xs-1">
						<p class="mas mas2">+</p>
					</div>
					<div class="col-xs-10">
						<h5 class="art">Promocion 1</h5>	
					</div>
					<div class="col-xs-2">
						<h5 class="art">Editar</h5>	
					</div>
				</div>
			</div>
			<hr />

			<div class="row">
				<div class="col-xs-1">
					
				</div>
				<dic class="col-xs-5">
					<img src="{{asset('img/marco.png')}}" alt="ejemplo" class="marco"> 
					<br>
					<br>
					<br>
					<p>ID de artículo relacionado: <span class="art">12345</span></p>
				</dic>
				<div class="col-xs-2 caja">
					<img src="{{asset('img/bote.png')}}" alt="bote">
					<p class="eliminar">Eliminar ese banner</p>
				</div>
			</div>

			<!--Aqui termina el primer bloque-->

			<div class="row">
				<div class="col-xs-6">

				</div>
				<div class="row">
					<div class="col-xs-9">
						
					</div>
					<div class="col-xs-10">
						<h5 class="art">Promocion 2</h5>	
					</div>
					<div class="col-xs-2">
						<h5 class="art">Editar</h5>	
					</div>
				</div>
			</div>
			<hr />
			

			<div class="row">
				<div class="col-xs-1">
					
				</div>
				<dic class="col-xs-5">
					<img src="{{asset('img/marco.png')}}" alt="ejemplo" class="marco"> 
					<br>
					<br>
					<br>
					<p>ID de artículo relacionado: <span class="art">12345</span></p>
				</dic>
				<div class="col-xs-2 caja">
					<img src="{{asset('img/bote.png')}}" alt="bote">
					<p class="eliminar">Eliminar ese banner</p>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-6">

				</div>
				<div class="row">
					<div class="col-xs-9">
						
					</div>
					<div class="col-xs-10">
						<h5 class="art">Promocion 3</h5>	
					</div>
					<div class="col-xs-2">
						<h5 class="art">Editar</h5>	
					</div>
				</div>
			</div>
			<hr />
			

			<div class="row">
				<div class="col-xs-1">
					
				</div>
				<dic class="col-xs-5">
					<img src="{{asset('img/marco.png')}}" alt="ejemplo" class="marco"> 
					<br>
					<br>
					<br>
					<p>ID de artículo relacionado: <span class="art">12345</span></p>
				</dic>
				<div class="col-xs-2 caja">
					<img src="{{asset('img/bote.png')}}" alt="bote">
					<p class="eliminar">Eliminar ese banner</p>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>  

	{% endblock %}