{# src/NW/PrincipalBundle/Resources/views/planes.html.twig #}

{% extends '::base.html.twig' %}

	{% block body %}
	
	<div class="container contrata corrector minplanes">
	<div class="row">
		<div class="col-xs-6">
			<h1>Contrata tu plan</h1>
		</div>
		<div class="col-xs-6">
			<img class="img-responsive logo" src="{{asset('img/nw.png')}}"></div>
		</div>
		<br>
		<br>
		<br>
	<div class="usuario">
		<h3>Usuario:</h3>
	</div>
		<br>
		<br>

</div>
		<div class="container minplanes">

			<table class="table table-striped">
				<tr height="20px">
					<td class="planes2"></td>
					<td class="planes" colspan="5">Planes</td>
				</tr>
			  <tr>
			    <th class="funcionalidades"> Funcionalidades </th>
			    <th> Anuncio <br> especial </th>
			    <th> Anuncio <br> Plus </th>
			    <th class="top"> Básico </th>
			    <th class="top"> Estándar </th>
			    <th class="top"> Plus </th>
			  </tr>
			  <tbody>
				  <tr>
				    <td> Anuncio en la página principal </td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Anuncio especial en el costado de la página </td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Micrositio con mi catálogo de productos / servicios </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Cargar / modificar artículos </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Incluir promociones en página principal </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Vender a través de la plataforma </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Transferir ventas a mi cuenta bancaria </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Modificar / actualizar información bancaria </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Incluir banners promocionales </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Administración de inventario por producto </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Conocer opiniones de clientes </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Estado de cuenta detallado </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
				  <tr>
				    <td> Cargar / modificar códigos de venta </td>
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				    <td><img src="{{asset('img/punto.png')}}"></td>
				  </tr>
			  </tbody>
			  <tr>
			    <td class="funcionalidades"> Costo mensual (3 meses gratis al registrarte) </td>
			    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $299 </label></td>
			    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $599 </label></td>
			    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $299 </label></td>
			    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $499 </label></td>
			    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked>$999 </label></td>
			  </tr>
			</table>

	<div class="container">
		<div class="radio">
	  		<label>
	    		<input type="checkbox">
	    			He leído y acepto los <span class="term">términos y condiciones</span>
	  		</label>
		</div>
		<div class="radio">
	  		<label>
	    		<input type="checkbox">
	    			He leído y acepto los <span class="term">términos de privacidad</span>
	  		</label>
		</div>
	</div>
	<br>
	<div class="container center">
		<h6>Datos obligatorios</h6>
	</div>
</div>

	{% endblock %}

	{% block footer %}
	{% endblock %}

	