<!doctype html>
<html lang="{{app.request.locale}}">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}PartyGift{%endblock%}</title>
    <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('css/jquery.modal.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{asset('js/jquery-1.9.0.min.js')}}"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="{{asset('js/jquery.scrollTo-1.4.3.1-min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.modal.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/simpleCart.min.js')}}"></script>
</head>
<body>

<div class="all-wrapper">
    <header>
        <div class="max-wrapper">
            <h1 class="logo">
                <a href="{{url('pg_party_homepage')}}">
                <img src="{{asset('img/partygift-logo.png')}}" />
                <span class="oculto">Party Gift</span>
                </a>
            </h1>
            {% if app.user %}
                <div class="salir-cuenta">
                    <a href="{{ path('fos_user_security_logout') }}">{% trans %}salir{% endtrans %}</a>
                </div>
            {% endif %}
            {% include ':plantillasParciales:cuentaBox.html.twig' %}

            {% if app.user == false %}
            <div class="ingreso-face">
                <div class="ingresar">
                    {% trans %}Ingresar{% endtrans %}
                </div>
                <div id="login" class="login wow bounceIn">
                    {% if error is defined %}
                        {% if error %}
                            <div>{{ error.message }}</div>
                        {% endif %}
                    {% endif %}
                    <form action="{{url('pg_pary_root')}}login_check" method="POST">
                        <input type="text" id="username" name="_username" required="required" placeholder="{% trans %}correo{% endtrans %}">
                        <input type="password" id="password" name="_password" required="required" placeholder="{% trans %}contraseña{% endtrans %}">
                        <input type="submit" id="_submit" name="_submit" value="{% trans %}Acceder{% endtrans %}">
                        <a href="{{url('root')}}connect/facebook">
                            <img class="facebook" src="{{asset('img/facebook.png')}}" width="30" alt="">
                        </a>
                        <br>
                        <a href="{{url('pg_party_changepass')}}"><span class="small-font recuperar-pass">{% trans %}Recuperar contraseña{% endtrans %}</span></a>
                        <input type="hidden" name="_target_path" value="{{url('pg_party_miCuenta')}}" />
                        {% if csrf_token is defined %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                    </form>
                </div>
                <a href="{{url('root')}}connect/facebook">
                    <img class="facebook" src="{{asset('img/facebook.png')}}" width="40" height="40" alt="Facebook"/>
                </a>
            </div>
            {% endif %}
        </div>
        <nav class="main">
            <div class="max-wrapper">
                <ul>
                    <li><a href="javascript:$.scrollTo('#que',800, {offset:-174} );">{% trans %}Qué es{% endtrans %}</a></li>
                    <li><a href="javascript:$.scrollTo('#como',800, {offset:-170} );">{% trans %}Cómo funciona{% endtrans %}</a></li>
                    <li><a href="javascript:$.scrollTo('#busca-crea',800, {offset:-194} );">{% trans %}Busca un bucketgift{% endtrans %}</a></li>
                    <li>
                        {% if app.user %}
                            <a href="{{ url('pg_party_miCuenta') }}">
                        {% else %}
                            <a href="javascript:$.scrollTo('#busca-crea',800, {offset:-194} );">
                        {% endif %}
                            {% trans %}Crea un bucketgift{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="espacio-header"></div>
    <div class="main-content">
        <section id="que">
            <ul>
                <li class="wow bounceIn" data-wow-duration="1s"><h2>{% trans %}Qué es <span class="bolder">party</span>gift{% endtrans %}</h2></li>
                <li><img class="img-bucketgift wow bounceIn" data-wow-delay="0.5s" data-wow-duration="1s" src="{{asset('img/que-bucketgift.png')}}" alt="Bucketgifts" width="113"></li>
                <li class="wow bounceIn" data-wow-delay="1s" data-wow-duration="1s">
                    {% trans %}
                        <span class="bold">party</span>gift es un sitio donde podrás crear listas de regalos o como nosotros los llamamos, <span class="bold">bucket</span>gifts para cualquier ocasión. Con ellos, en lugar de recibir regalos, recibirás el dinero para que tú compres tus regalos donde quieras y cuando quieras.<br/><br/>Bodas, bautizos, quince años, open house, aniversario... lo que tú quieras y por el pretexto que se te antoje. Crea un <span class="bold">bucket</span>gift y deja que tus amigos te regalen.
                    {% endtrans %}
                </li>
            </ul>
        </section>
        
        <div class="img-divisoria1 wow fadeIn">
            
        </div>
        <section id="como">
            <h2 class="wow bounceInLeft">{% trans %}Cómo funciona <span class="bolder">party</span>gift{% endtrans %}</h2>
            <ul>
                <li class="wow bounceIn" data-wow-delay="1s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-1.png')}}" alt="" width="56" height="182">
                    </div>
                    <p>{% trans %}Tienes una fiesta, openhouse, aniversario, boda o cualquier evento.{% endtrans %}</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="1.5s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-2.png')}}" class="paso-como-2" alt="" width="191" height="161">
                    </div>
                    <p>{% trans %}Vas a recibir regalos que quizá no te gusten{% endtrans %} :(</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="2s">
                    <div class="pasos-como">
                        <img src="{{asset('img/que-bucketgift.png')}}" alt="" width="113" height="182">
                    </div>
                    <p>{% trans %}Mejor creas un bucketgift en partygift con los regalos que tú quisieras recibir{% endtrans %}</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="2.5s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-4.png')}}" class="paso-como-4" alt="" width="144" height="144">
                    </div>
                    <p>{% trans %}En lugar de regalos, recibes el dinero para que compres lo que más te guste{% endtrans %} :)</p>
                </li>
            </ul>
        
        </section>
        <div class="img-divisoria2 wow fadeIn">
            
        </div>
        
        <section id="busca-crea">
            <div class="busca wow fadeInLeft" data-wow-duration="1s">
                <h2>{% trans %}Busca un bucketgift{% endtrans %}</h2><br/>
                    <form id="formBusqueda" action="{{path('pg_party_busqueda')}}" method="post"}}>
                        <input type="text" name="nombre" placeholder="{% trans %}nombre{% endtrans %}"><br/>
                        <input type="text" name="apellidos" placeholder="{% trans %}apellidos{% endtrans %}"><br/>
                        <input type="text" name="evento" placeholder="{% trans %}evento{% endtrans %}"><br/>
                        <input type="text" name="bucketid" placeholder="bucket ID"><br/>
                        <input id="buscar-click" style="cursor: pointer;" onClick="javascript:$.scrollTo('#footer',600, {offset:-10} );" type="submit" value="{% trans %}Buscar{% endtrans %}">
                    </form>
            </div>
            <div class="crea wow fadeInRight" data-wow-duration="1s">
                {% if app.user == false %}
                    <h2>{% trans %}Crea un bucketgift{% endtrans %}</h2>
                    <h3>{% trans %}Primero debes registrarte{% endtrans %}</h3>
                    <form action="{{ url('pg_party_registro') }}" method="get" name="myForm" id="formPreRegistro">
                        <input type="text" name="email" placeholder="{% trans %}correo{% endtrans %}" required><br/>
                        <input type="checkbox" required="required">
                            <span class="small-font">
                                <a href="{{ asset('docs/TERMSCONDITIONSPARTYGIFT.pdf') }}">
                                    {% trans %}Acepto términos y condiciones{% endtrans %}
                                </a>
                            </span><br/>
                        <input class="registrate" type="submit" style="cursor: pointer;" value="{% trans %}Regístrate{% endtrans %}"><img class="face-registro" src="{{asset('img/facebook.png')}}" width="30" height="30" />
                    </form>
                    <span class="small-font aviso-crea">
                        <a href="{{ asset('docs/PRIVACYPARTYGIFT.pdf') }}">
                            {% trans %}Aviso de privacidad{% endtrans %}
                        </a>
                    </span>
                {% endif %}
            </div>
            <div id="zona-eventos" class="eventos">
                <table cellpadding="0" cellspacing="0" id="resultadosBusqueda">
                    <tr class="titulos-eventos">
                        <td>{% trans %}Nombre{% endtrans %}</td>
                        <td>{% trans %}Apellidos{% endtrans %}</td>
                        <td>{% trans %}Evento{% endtrans %}</td>
                        <td>{% trans %}Fecha{% endtrans %}</td>
                        <td>Bucket ID</td>
                    </tr>
                </table>
            </div>
        </section>
       
        <div class="evento-desplegar"></div>

        <div class="pre-footer"><div class="party-logo-footer"><img src="{{asset('img/partygift-logo.png')}}" width="275" height="86" /></div></div>
        {% block footer %}
            {% include ':plantillasParciales:footer.html.twig' %}
        {% endblock %}
    </div>
</div>

    {% block modales %}
        {% include ':plantillasParciales:modalCarrito.html.twig' %}
        {% include ':plantillasParciales:modalErrores.html.twig' %}
        {% include ':plantillasParciales:modalSeleccion.html.twig' %}
    {% endblock %}

<script>
$( "div.ingresar" ).click(function() {
  $( "div#login" ).toggleClass( "show" );
});

var panelActivo = false;

$("#resultadosBusqueda").on("click", ".evento-tr", function(){
    if(!panelActivo || !$(this).hasClass("active"))
    {
        $(".evento-tr").removeClass("active");
        $(this).addClass("active");
        panelActivo = true;

        $(".evento-desplegar").addClass( "show" );
        $(".mipartygift").addClass("hide");
        $(".bucket-"+$(this).data("id")).removeClass("hide");
        javascript:$.scrollTo('.evento-desplegar', 800, {offset:-174} );
    }
    else if(panelActivo && $(this).hasClass("active"))
    {
        $(".evento").removeClass("active");
        panelActivo = false;
        $(".mipartygift").addClass("hide");
        $(".evento-desplegar").removeClass( "show" );
    }
});

function enviaformulario() {
    if (!event.target.checkValidity()) {
        event.preventDefault(); // dismiss the default functionality
        alert('{%trans%}Por favor, llene el formulario{%endtrans%}'); // error message
    }
    else
    {
        win = window.open('','myWin','toolbars=0,width=400,height=600');            
        document.myForm.target='myWin';
        document.myForm.submit();
        checarmicuenta();
    }
}

function checarmicuenta()
{
    // Hacer la petición cada cierto tiempo
    setInterval(function(){
        // Variable de direccion URL para checar JSON
        var ajaxURL = "{{url('pg_party_checarmicuenta')}}";

        // Hacer petición jSon y ver si micuenta ya está accesible (checarlo en una pagina json independiente)
        $.getJSON(ajaxURL, function(serverInfo){
            if(serverInfo.responseCode == 200)
            {
                // Si sí está accesible entonces actualiza esta página
                location.href = "{{url('pg_party_miCuenta')}}";
            }
        });
    }, 1000);
}

$(document).ready(function() {
    $("#errores").modal();
    $("#formBusqueda").submit(submitForm);
    $("#formPreRegistro").submit(enviaformulario);
});

//// REALIZAR BÚSQUEDA CON AJAX \\\\
function submitForm(){

    var values = {};

    $.each($("#formBusqueda").serializeArray(), function(i, field) {
        values[field.name] = field.value;
    });

    $(".evento-tr").remove();
    //$(".evento-desplegar").empty();
    $("div.eventos").addClass("show");
    $(".evento-desplegar").removeClass( "show" );

    $.ajax({
        type        : 'POST',
        url         : $("#formBusqueda").attr("action"),
        data        : values,
        success     : function(data) {
            if(data.responseCode == 200 ){
                ajaxSuccess(data);
                return true;
            }
            else{
                alert("Error de conexión ajax");
            }       
        }
    });
    return false;
}

function ajaxSuccess(data)
{
    var filaResultado, filaResultadoAmpliado = "";

    // Lo que se hace con los resultados
    for (var i = data.result.length - 1; i >= 0; i--) {

        filaResultado = "<tr data-id=\""+data.result[i].bucketid+"\" class=\"evento-tr\"><td>"+data.result[i].nombre+"</td><td>"+data.result[i].apellidos+"</td><td>"+data.result[i].evento+"</td><td>"+data.result[i].fecha+"</td><td>"+data.result[i].bucketid+"</td></tr>";

        var contadorFilas = 0;
        for (var j = data.result[i].partygifts.length - 1; j >= 0; j--) {
            if (data.result[i].partygifts[j].partesFaltantes > 0)
            {
                filaResultadoAmpliado = '<div class="max-wrapper simpleCart_shelfItem mipartygift bucket-'+data.result[i].bucketid+'" style="margin-bottom:30px;"><ul><li><h2>'+data.result[i].nombreFormateado+'</h2><br/></li><li><h3 class="texto-evento-grande item_name">'+data.result[i].partygifts[j].regalo+'</h3><p class="item_description">'+data.result[i].partygifts[j].descripcion+'</p><span class="invisible item_itemid">'+data.result[i].partygifts[j].id+'</span><span class="invisible item_userid">'+data.result[i].partygifts[j].userid+'</span><span class="invisible item_nombre">'+data.result[i].partygifts[j].nombre+'</span>{% trans %}¿Cuántas partes deseas regalar?{% endtrans %}<select class="item_Quantity">';
                for (var k = 1; k <= data.result[i].partygifts[j].partesFaltantes; k++) {
                    filaResultadoAmpliado += '<option>'+k+'</option>';
                };
                filaResultadoAmpliado += '</select><input type="submit" class="item_add" href="javascript:;" value="{% trans %}Agregar{% endtrans %}"></li><li>{% trans %}Valor{% endtrans %}<br/><span class="texto-evento-grande">$'+data.result[i].partygifts[j].precioTotalFormateado+' '+data.result[i].moneda+'</span><br/><br/>{% trans %}Gift dividido en{% endtrans %}<br/><span class="texto-evento-grande">'+data.result[i].partygifts[j].horcruxes+' {% trans %}partes{% endtrans %}</span><br/><br/>{% trans %}Valor por parte{% endtrans %}</br><span class="texto-evento-grande"><span class="item_price">$'+data.result[i].partygifts[j].valorPorParte+'</span> <span class="item_currency">'+data.result[i].moneda+'</span></span><br/><br/></li></ul></div>';
                $(".evento-desplegar").append(filaResultadoAmpliado);
                contadorFilas++;
            }
            if (contadorFilas <= 0)
            {
                $(".evento-desplegar").append('<div class="max-wrapper simpleCart_shelfItem mipartygift bucket-'+data.result[i].bucketid+'" style="margin-bottom:30px;">Ya se compraron todas las partes del gift: "'+data.result[i].partygifts[j].regalo+'"</div>');
            }
        }

        $("#resultadosBusqueda").append(filaResultado);
        contadorFilas = 0;
        
    }
}

simpleCart({
    checkout: {
        type: "SendForm" , 
        url: "{{ url('nw_paypal_express_checkout_prepare_purchase') }}",
        method: "POST",
    },
    cartStyle: "table", 
    cartColumns: [
        { attr: "currency"},
        { attr: "userid"},
        { attr: "nombre"},
        { attr: "itemid" , label: "ID" },
        { attr: "name" , label: "Gift" },
        { attr: "description" , label: "{% trans %}Descripción{% endtrans %}" },
        { attr: "price" , label: "{% trans %}Precio{% endtrans %}", view: 'currency' } ,
        { view: "decrement" , label: false , text: "-" } ,
        { attr: "quantity" , label: "{% trans %}Cantidad{% endtrans %}" } ,
        { view: "increment" , label: false , text: "+" } ,
        { attr: "total" , label: "SubTotal", view: 'currency' } ,
        { view: "remove" , text: "{% trans %}Remover{% endtrans %}" , label: false }
    ]
});
simpleCart.shipping(function(){
    return simpleCart.total()*.06+4;
});

var itemTemporal;

simpleCart.bind( 'beforeAdd' , function( item ){
    var items = [];
    var itemsNombre = [];
    //var itemsIndizados = [];
    simpleCart.each(function( item , x ){
        items.push( item.get('userid') );
        itemsNombre.push( item.get('nombre') );
        //itemsIndizados[item.get('userid')] = item.get('nombre');
    });

    if(!verificarCarrito(items, item.get('userid')))
    {
        itemTemporal = item;
        actualizarBotones(itemsNombre[0], item.get('nombre'))
        $("#seleccion").modal();
        return false;
    }

    simpleCart.currency(item.get("currency"));
    $("#carritoCurrency").html(item.get("currency"));

});

// Funcion que busca los nombre de los dos usuarios a quienes se les quiere regalar y actualiza los botones
function actualizarBotones(nombre1, nombre2)
{
    // Primer botón
    $("#seleccion1").html(nombre1);

    // Segundo botón
    $("#seleccion2").html(nombre2);
}

// Verdadero si todo está bien, falso si se tiene que abrir el modal
function verificarCarrito(usuarios, usuarioActual)
{
    for (var i = usuarios.length - 1; i >= 0; i--)
    {
        if (usuarios[i] != usuarioActual)
        {
            return false;
        }
    }
    return true;
}

// Clic en el boton1 de seleccion
$("#seleccion1").click(function() {
    // Solo cerrar modal
    $.modal.close();
});

// Clic en el boton2 de seleccion
$("#seleccion2").click(function() {
    simpleCart.empty();
    simpleCart.add({ 
        currency: itemTemporal.get("currency"),
        userid: itemTemporal.get("userid"),
        nombre: itemTemporal.get("nombre"),
        itemid: itemTemporal.get("itemid"),
        name: itemTemporal.get("name"),
        description: itemTemporal.get("description"),
        price: itemTemporal.get("price"),
        quantity: itemTemporal.get("quantity")
    });
    simpleCart.currency(itemTemporal.get("currency"));
    $("#carritoCurrency").html(itemTemporal.get("currency"));
    //despues cerrar modal
    $.modal.close();
});


// Cuando carga el carrito, se establece su moneda
simpleCart.ready( function(){
    simpleCart.each(function( item , x ){
        simpleCart.currency(item.get("currency"));
        $("#carritoCurrency").html(item.get("currency"));
    });
});

</script>

{% set transaccion = app.session.flashbag.get("transaccion") %}
{% if (transaccion is not empty) %}
    <script>
        $(document).ready(function(){
            simpleCart.empty();
        });
    </script>
{% endif %}

<script src="{{asset('js/wow.min.js')}}"></script>
<script>
    new WOW().init();
</script>
</body>
</html>