<!doctype html>
<html lang="{{app.request.locale}}">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}PartyGift{%endblock%}</title>
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/jquery.modal.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{asset('js/jquery-1.9.0.min.js')}}"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{asset('js/jquery.scrollTo-1.4.3.1-min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.modal.js')}}"></script>
</head>
<body>

<div class="all-wrapper">
    <header>
        <div class="max-wrapper">
            <h1 class="logo">
                <a href="{{url('pg_party_homepage')}}">
                <img src="{{asset('img/partygift-logo.png')}}" />
                <span class="oculto">Party Gift</span>
                </a>
            </h1>
            {% include ':plantillasParciales:cuentaBox.html.twig' %}

            {% if app.user == false %}
            <div class="ingreso-face">
                <div class="ingresar">
                    {% trans %}Ingresar{% endtrans %}
                </div>
                <div id="login" class="login wow bounceIn">
                    {% if error %}
                        <div>{{ error.message }}</div>
                    {% endif %}
                    <form action="{{url('pg_pary_root')}}login_check" method="POST">
                        <input type="text" id="username" name="_username" required="required" value="{{ last_username }}" placeholder="{% trans %}correo{% endtrans %}">
                        <input type="password" id="password" name="_password" required="required" placeholder="{% trans %}contraseña{% endtrans %}">
                        <input type="submit" id="_submit" name="_submit" value="{% trans %}Acceder{% endtrans %}">
                        <a href="{{url('root')}}connect/facebook">
                            <img class="facebook" src="{{asset('img/facebook.png')}}" width="30" alt="">
                        </a>
                        <br>
                        <a href=""><span class="small-font recuperar-pass">{% trans %}Recuperar contraseña{% endtrans %}</span></a>
                        <input type="hidden" name="_target_path" value="{{url('pg_party_miCuenta')}}" />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    </form>
                </div>
                <a href="{{url('root')}}connect/facebook">
                    <img class="facebook" src="{{asset('img/facebook.png')}}" width="40" height="40" alt="Facebook"/>
                </a>
            </div>
            {% endif %}
        </div>
        <nav class="main">
            <div class="max-wrapper">
                <ul>
                    <li><a href="javascript:$.scrollTo('#que',800, {offset:-174} );">{% trans %}Qué es{% endtrans %}</a></li>
                    <li><a href="javascript:$.scrollTo('#como',800, {offset:-170} );">{% trans %}Cómo funciona{% endtrans %}</a></li>
                    <li><a href="javascript:$.scrollTo('#busca-crea',800, {offset:-194} );">{% trans %}Busca un bucketgift{% endtrans %}</a></li>
                    <li><a href="javascript:$.scrollTo('#busca-crea',800, {offset:-194} );">{% trans %}Crea un bucketgift{% endtrans %}</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="espacio-header"></div>
    <div class="main-content">
        <section id="que">
            <ul>
                <li class="wow bounceIn" data-wow-duration="1s"><h2>{% trans %}Qué es <span class="bolder">party</span>gift{% endtrans %}</h2></li>
                <li><img class="img-bucketgift wow bounceIn" data-wow-delay="0.5s" data-wow-duration="1s" src="{{asset('img/que-bucketgift.png')}}" alt="Bucketgifts" width="113"></li>
                <li class="wow bounceIn" data-wow-delay="1s" data-wow-duration="1s">
                    {% trans %}
                        <span class="bold">party</span>gift es un sitio donde podrás crear listas de regalos o como nosotros los llamamos, <span class="bold">bucket</span>gifts para cualquier ocasión. Con ellos, en lugar de recibir regalos, recibirás el dinero para que tú compres tus regalos donde quieras y cuando quieras.<br/><br/>Bodas, bautizos, quince años, open house, aniversario... lo que tú quieras y por el pretexto que se te antoje. Crea un <span class="bold">bucket</span>gift y deja que tus amigos te regalen.
                    {% endtrans %}
                </li>
            </ul>
        </section>
        
        <div class="img-divisoria1 wow fadeIn">
            
        </div>
        <section id="como">
            <h2 class="wow bounceInLeft">{% trans %}Cómo funciona <span class="bolder">party</span>gift{% endtrans %}</h2>
            <ul>
                <li class="wow bounceIn" data-wow-delay="1s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-1.png')}}" alt="" width="56" height="182">
                    </div>
                    <p>{% trans %}Tienes una fiesta, openhouse, aniversario, boda o cualquier evento.{% endtrans %}</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="1.5s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-2.png')}}" class="paso-como-2" alt="" width="191" height="161">
                    </div>
                    <p>{% trans %}Vas a recibir regalos que quizá no te gusten{% endtrans %} :(</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="2s">
                    <div class="pasos-como">
                        <img src="{{asset('img/que-bucketgift.png')}}" alt="" width="113" height="182">
                    </div>
                    <p>{% trans %}Mejor creas un bucketgift en partygift con los regalos que tú quisieras recibir{% endtrans %}</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="2.5s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-4.png')}}" class="paso-como-4" alt="" width="144" height="144">
                    </div>
                    <p>{% trans %}En lugar de regalos, recibes el dinero para que compres lo que más te guste{% endtrans %} :)</p>
                </li>
            </ul>
        
        </section>
        <div class="img-divisoria2 wow fadeIn">
            
        </div>
        
        <section id="busca-crea">
            <div class="busca wow fadeInLeft" data-wow-duration="1s">
                <h2>{% trans %}Busca un bucketgift{% endtrans %}</h2><br/>
                
                    <input type="text" placeholder="{% trans %}nombre{% endtrans %}"><br/>
                    <input type="text" placeholder="{% trans %}apellidos{% endtrans %}"><br/>
                    <input type="text" placeholder="{% trans %}evento{% endtrans %}"><br/>
                    <input type="text" placeholder="party ID"><br/>
                    <input id="buscar-click" onClick="javascript:$.scrollTo('#footer',600, {offset:-10} );" type="submit" value="{% trans %}Buscar{% endtrans %}">
                
            </div>
            <div class="crea wow fadeInRight" data-wow-duration="1s">
                <h2>{% trans %}Crea un bucketgift{% endtrans %}</h2>

                {% if app.user == false %}
                    <h3>{% trans %}Primero debes registrarte{% endtrans %}</h3>
                    <form action="{{ url('pg_party_registro') }}" method="get" name="myForm">
                        <input type="text" name="email" placeholder="{% trans %}correo{% endtrans %}" required><br/>
                        <input type="checkbox" required="required"> <span class="small-font">{% trans %}Acepto términos y condiciones{% endtrans %}</span><br/>
                        <input class="registrate" type="submit" value="{% trans %}Regístrate{% endtrans %}" onClick="enviaformulario();"><img class="face-registro" src="{{asset('img/facebook.png')}}" width="30" height="30" />
                    </form>
                    <span class="small-font aviso-crea">{% trans %}Aviso de privacidad{% endtrans %}</span>
                {% endif %}
            </div>
            <div id="zona-eventos" class="eventos">
                <table cellpadding="0" cellspacing="0">
                    <tr class="titulos-eventos">
                        <td>{% trans %}Nombre{% endtrans %}</td>
                        <td>{% trans %}Apellidos{% endtrans %}</td>
                        <td>{% trans %}Evento{% endtrans %}</td>
                        <td>{% trans %}Fecha{% endtrans %}</td>
                        <td>Party ID</td>
                    </tr>
                    <tr class="evento-tr">
                        <td>Gustavo</td>
                        <td>Solorio Serrano</td>
                        <td>Peda de graduación</td>
                        <td>11/mayo/2015</td>
                        <td>230</td>
                    </tr>
                    <tr class="evento-tr">
                        <td>Gustavo</td>
                        <td>Solorio Serrano</td>
                        <td>Peda de graduación</td>
                        <td>11/mayo/2015</td>
                        <td>230</td>
                    </tr>
                    <tr class="evento-tr">
                        <td>Gustavo</td>
                        <td>Solorio Serrano</td>
                        <td>Peda de graduación</td>
                        <td>11/mayo/2015</td>
                        <td>230</td>
                    </tr>
                </table>
            </div>
        </section>
       
        <div id="evento-desplegar" class="evento-desplegar">
            <div class="max-wrapper">
                <ul>
                    <li>
                        <h2>{% trans %}bucketgift de <span class="rosa-persona">Gustavo</span>{% endtrans %}</h2><br/>
                        <div class="fb-share-button" data-href="{{ path(app.request.get('_route')) }}" data-layout="button_count"></div>
                        <br/><br/>
                        <a class="twitter-share-button" href="{{ path(app.request.get('_route')) }}"></a>
                        <script>
                        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
                        </script>
                    </li>
                    <li>
                        <h3 class="texto-evento-grande">Peda de graduación</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, doloremque voluptatum voluptate autem nihil eius exercitationem sequi inventore harum non quaerat velit maxime quas eligendi aliquam ipsam sit nisi amet!</p>
                        
                        <form action="">
                        {% trans %}¿Cuántas partes deseas regalar?{% endtrans %}
                            <select>
                                <option>1</option>
                            </select>
                            <input type="submit" value="{% trans %}Agregar{% endtrans %}">
                        </form>
                    </li>
                    <li>
                        {% trans %}Valor{% endtrans %}<br/>
                        <span class="texto-evento-grande">$7,000 MXN</span><br/><br/>
                        {% trans %}Gift dividido en{% endtrans %}<br/>
                        <span class="texto-evento-grande">70 {% trans %}partes{% endtrans %}</span><br/><br/>
                        {% trans %}Valor por parte{% endtrans %}</br>
                        <span class="texto-evento-grande">$100 MXN</span><br/><br/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pre-footer"><div class="party-logo-footer"><img src="{{asset('img/partygift-logo.png')}}" width="275" height="86" /></div></div>
        {% block footer %}
            {% include ':plantillasParciales:footer.html.twig' %}
        {% endblock %}
    </div>
</div>

    {% block modales %}
        {% include ':plantillasParciales:modalCarrito.html.twig' %}
        {% include ':plantillasParciales:modalErrores.html.twig' %}
    {% endblock %}

<script>
$( "div.ingresar" ).click(function() {
  $( "div#login" ).toggleClass( "show" );
});

$( "#buscar-click" ).click(function() {
  $( "div.eventos" ).toggleClass( "show" );
});

$( "#buscar-click" ).click(function() {
  $( "#evento-desplegar" ).toggleClass( "hide" );
});

$( ".evento-tr" ).click(function() {
    javascript:$.scrollTo('#footer',600, {offset:-10});
  $("#evento-desplegar").toggleClass( "hide" );
  $("#evento-desplegar").toggleClass( "show" );
});

function enviaformulario() {
    win = window.open('','myWin','toolbars=0,width=400,height=600');            
    document.myForm.target='myWin';
    document.myForm.submit();
    checarmicuenta();
}

function checarmicuenta()
{
    // Hacer la petición cada cierto tiempo
    setInterval(function(){
        // Variable de direccion URL para checar JSON
        var ajaxURL = "{{url('pg_party_checarmicuenta')}}";

        // Hacer petición jSon y ver si micuenta ya está accesible (checarlo en una pagina json independiente)
        $.getJSON(ajaxURL, function(serverInfo){
            if(serverInfo.responseCode == 200)
            {
                // Si sí está accesible entonces actualiza esta página
                location.href = "{{url('pg_party_miCuenta')}}";
            }
        });
    }, 1000);
}

{% if app.session.flashbag.get('notice') is not null %}
    $( document ).ready(function() {
        $("#errores").dialog({modal: true});
    });
{% endif %}

</script>

<script src="{{asset('js/wow.min.js')}}"></script>
<script>
    new WOW().init();
</script>
</body>
</html>
