<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PartyGift</title>
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/jquery.modal.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{asset('js/jquery-1.9.0.min.js')}}"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{asset('js/jquery.scrollTo-1.4.3.1-min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.modal.js')}}"></script>
</head>
<body>
<div class="all-wrapper">
    <header>
        <div class="max-wrapper">
            <h1 class="logo">
                <a href="{{url('pg_party_homepage')}}">
                <img src="{{asset('img/partygift-logo.png')}}" />
                <span class="oculto">Party Gift</span>
                </a>
            </h1>
            {% include ':plantillasParciales:cuentaBox.html.twig' %}
            <div class="ingreso-face">
                <div class="ingresar">
                    Ingresar
                </div>
                <div id="login" class="login wow bounceIn">
                    <form action="#">
                        <input type="text" placeholder="correo">
                        <input type="password" placeholder="contraseña">
                        <input type="submit" value="Acceder">
                        <img class="facebook" src="{{asset('img/facebook.png')}}" width="30" alt="">
                        <br>
                        <a href=""><span class="small-font recuperar-pass">Recuperar contraseña</span></a>
                    </form>
                </div>
                <img class="facebook" src="{{asset('img/facebook.png')}}" width="40" height="40" alt="Facebook"/>
            </div>
        </div>
        <nav class="main">
            <div class="max-wrapper">
                <ul>
                    <li><a href="javascript:$.scrollTo('#que',800, {offset:-174} );">Qué es</a></li>
                    <li><a href="javascript:$.scrollTo('#como',800, {offset:-170} );">Cómo funciona</a></li>
                    <li><a href="javascript:$.scrollTo('#busca-crea',800, {offset:-194} );">Busca un bucketgift</a></li>
                    <li><a href="javascript:$.scrollTo('#busca-crea',800, {offset:-194} );">Crea un bucketgift</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="espacio-header"></div>
    <div class="main-content">
        <section id="que">
            <ul>
                <li class="wow bounceIn" data-wow-duration="1s"><h2>Qué es <span class="bolder">party</span>gift</h2></li>
                <li><img class="img-bucketgift wow bounceIn" data-wow-delay="0.5s" data-wow-duration="1s" src="{{asset('img/que-bucketgift.png')}}" alt="Bucketgifts" width="113"></li>
                <li class="wow bounceIn" data-wow-delay="1s" data-wow-duration="1s"><span class="bold">party</span>gift es un sitio donde podrás crear listas de regalos o como nosotros los llamamos, <span class="bold">bucket</span>gifts para cualquier ocasión. Con ellos, en lugar de recibir regalos, recibirás el dinero para que tú compres tus regalos donde quieras y cuando quieras.<br/><br/>
                Bodas, bautizos, quince años, open house, aniversario... lo que tú quieras y por el pretexto que se te antoje. Crea un <span class="bold">bucket</span>gift y deja que tus amigos te regalen.</li>
            </ul>
        </section>
        
        <div class="img-divisoria1 wow fadeIn">
            
        </div>
        <section id="como">
            <h2 class="wow bounceInLeft">Cómo funciona <span class="bolder">party</span>gift</h2>
            <ul>
                <li class="wow bounceIn" data-wow-delay="1s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-1.png')}}" alt="" width="56" height="182">
                    </div>
                    <p>Tienes una fiesta, openhouse, aniversario, boda o cualquier evento.</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="1.5s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-2.png')}}" class="paso-como-2" alt="" width="191" height="161">
                    </div>
                    <p>Vas a recibir regalos que quizá no te gusten :(</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="2s">
                    <div class="pasos-como">
                        <img src="{{asset('img/que-bucketgift.png')}}" alt="" width="113" height="182">
                    </div>
                    <p>Mejor creas un <span class="bold">bucket</span>gift en <span class="bold">party</span>gift con los regalos que tú quisieras recibir</p>
                </li>
                <li class="wow bounceIn" data-wow-delay="2.5s">
                    <div class="pasos-como">
                        <img src="{{asset('img/como-4.png')}}" class="paso-como-4" alt="" width="144" height="144">
                    </div>
                    <p>En lugar de regalos, recibes el dinero para que compres lo que más te guste :)</p>
                </li>
            </ul>
        
        </section>
        <div class="img-divisoria2 wow fadeIn">
            
        </div>
        
        <section id="busca-crea">
            <div class="busca wow fadeInLeft" data-wow-duration="1s">
                <h2>Busca un <span class="bolder">bucket</span>gift</h2><br/>
                
                    <input type="text" placeholder="nombre"><br/>
                    <input type="text" placeholder="apellidos"><br/>
                    <input type="text" placeholder="evento"><br/>
                    <input type="text" placeholder="party ID"><br/>
                    <input id="buscar-click" onClick="javascript:$.scrollTo('#footer',600, {offset:-10} );" type="submit" value="Buscar">
                
            </div>
            <div class="crea wow fadeInRight" data-wow-duration="1s">
                <h2>Crea un <span class="bolder">bucket</span>gift</h2>
                <h3>Primero debes registrarte</h3>
                <form action="registro.php" method="post" name="myForm">
                    <input type="text" name="email" placeholder="correo" required><br/>
                    <input type="checkbox" required> <span class="small-font">Acepto términos y condiciones</span><br/>
                    <input class="registrate" type="submit" value="Regístrate" onClick="enviaformulario();"><img class="face-registro" src="{{asset('img/facebook.png')}}" width="30" height="30" />
                </form>
                <span class="small-font aviso-crea">Aviso de privacidad</span>
            </div>
            <div id="zona-eventos" class="eventos">
                <table cellpadding="0" cellspacing="0">
                    <tr class="titulos-eventos">
                        <td>Nombre</td>
                        <td>Apellidos</td>
                        <td>Evento</td>
                        <td>Fecha</td>
                        <td>Party ID</td>
                    </tr>
                    <tr class="evento-tr">
                        <td>Gustavo</td>
                        <td>Solorio Serrano</td>
                        <td>Peda de graduación</td>
                        <td>11/mayo/2015</td>
                        <td>230</td>
                    </tr>
                    <tr class="evento-tr">
                        <td>Gustavo</td>
                        <td>Solorio Serrano</td>
                        <td>Peda de graduación</td>
                        <td>11/mayo/2015</td>
                        <td>230</td>
                    </tr>
                    <tr class="evento-tr">
                        <td>Gustavo</td>
                        <td>Solorio Serrano</td>
                        <td>Peda de graduación</td>
                        <td>11/mayo/2015</td>
                        <td>230</td>
                    </tr>
                </table>
            </div>
        </section>
       
        <div id="evento-desplegar" class="evento-desplegar">
            <div class="max-wrapper">
                <ul>
                    <li>
                        <h2><span class="bolder">bucket</span>gift de <span class="rosa-persona">Gustavo</span></h2><br/>
                        <div class="fb-share-button" data-href="{#urlactual#}" data-layout="button_count"></div>
                        <br/><br/>
                        <a class="twitter-share-button" href="{# urlactual #}"></a>
                        <script>
                        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
                        </script>
                    </li>
                    <li>
                        <h3 class="texto-evento-grande">Peda de graduación</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, doloremque voluptatum voluptate autem nihil eius exercitationem sequi inventore harum non quaerat velit maxime quas eligendi aliquam ipsam sit nisi amet!</p>
                        
                        <form action="">
                        ¿Cuántas partes deseas regalar?
                            <select>
                                <option>1</option>
                            </select>
                            <input type="submit" value="Agregar">
                        </form>
                    </li>
                    <li>
                        Valor<br/>
                        <span class="texto-evento-grande">$7,000 MXN</span><br/><br/>
                        Gift dividido en<br/>
                        <span class="texto-evento-grande">70 partes</span><br/><br/>
                        Valor por parte</br>
                        <span class="texto-evento-grande">$100 MXN</span><br/><br/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pre-footer"><div class="party-logo-footer"><img src="{{asset('img/partygift-logo.png')}}" width="275" height="86" /></div></div>
        {% block footer %}
            {% include ':plantillasParciales:footer.html.twig' %}
        {% endblock %}
    </div>
</div>

    {% block modales %}
        {% include ':plantillasParciales:modalCarrito.html.twig' %}
    {% endblock %}}

<script>
$( "div.ingresar" ).click(function() {
  $( "div#login" ).toggleClass( "show" );
});

$( "#buscar-click" ).click(function() {
  $( "div.eventos" ).toggleClass( "show" );
});

$( "#buscar-click" ).click(function() {
  $( "#evento-desplegar" ).toggleClass( "hide" );
});

$( ".evento-tr" ).click(function() {
    javascript:$.scrollTo('#footer',600, {offset:-10});
  $( "#evento-desplegar" ).toggleClass( "hide" );
  $( "#evento-desplegar" ).toggleClass( "show" );
});

function enviaformulario() {
   win = window.open('','myWin','toolbars=0,width=400,height=600');            
   document.myForm.target='myWin';
   document.myForm.submit();
}
</script>

<script src="{{asset('js/wow.min.js')}}"></script>
<script>
    new WOW().init();
</script>
</body>
</html>