<!doctype html>
<html lang="{{app.request.locale}}">
<head>
	<meta charset="UTF-8">
	<title>{%block title%}PartyGift - Peda de Graduación{%endblock%}</title>
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/jquery.modal.css')}}" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{asset('js/jquery-1.9.0.min.js')}}"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{asset('js/jquery.scrollTo-1.4.3.1-min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.modal.js')}}"></script>
<script type="text/javascript" src="{{asset('js/simpleCart.min.js')}}"></script>
</head>
<body class="body-party">
<div class="all-wrapper no-bg">
	<header class="party-header">
        <div class="max-wrapper">
            <h1 class="logo">
                <a href="{{url('pg_party_homepage')}}">
                <img src="{{ asset('img/partygift-logo.png') }}" />
                <span class="oculto">Party Gift</span>
                </a>
            </h1>
            {% include ':plantillasParciales:cuentaBox.html.twig' %}
            {% if app.user == false %}
            <div class="ingreso-face">
                <div class="ingresar">
                    {% trans %}Ingresar{% endtrans %}
                </div>
                <div id="login" class="login wow bounceIn">
                    {% if error %}
                        <div>{{ error.message }}</div>
                    {% endif %}
                    <form action="{{url('pg_pary_root')}}login_check" method="POST">
                        <input type="text" id="username" name="_username" required="required" value="{{ last_username }}" placeholder="{% trans %}correo{% endtrans %}">
                        <input type="password" id="password" name="_password" required="required" placeholder="{% trans %}contraseña{% endtrans %}">
                        <input type="submit" id="_submit" name="_submit" value="{% trans %}Acceder{% endtrans %}">
                        <a href="{{url('root')}}connect/facebook">
                            <img class="facebook" src="{{asset('img/facebook.png')}}" width="30" alt="">
                        </a>
                        <br>
                        <a href=""><span class="small-font recuperar-pass">{% trans %}Recuperar contraseña{% endtrans %}</span></a>
                        <input type="hidden" name="_target_path" value="{{url('pg_party_miCuenta')}}" />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    </form>
                </div>
                <a href="{{url('root')}}connect/facebook">
                    <img class="facebook" src="{{asset('img/facebook.png')}}" width="40" height="40" alt="Facebook"/>
                </a>
            </div>
            {% endif %}
        </div>
        
	</header>

    <div class="espacio-header"></div>
    <div class="main-content">
       
        <div id="evento-desplegar" class="evento-desplegar show">
            <div class="max-wrapper simpleCart_shelfItem">
                <ul>
                    <li>
                        <h2>{% trans with {'%name%': nombre} %}partygift de <span class="rosa-persona">%name%</span>{% endtrans %}</h2><br/>
                        <?php $url_actual = "http://" . $_SERVER["SERVER_NAME"] . $_SERVER["REQUEST_URI"]; ?>
                        <div class="fb-share-button" data-href="{{ path(app.request.get('_route'), {'id': partyGift.id}) }}?>" data-layout="button_count"></div>
                        <br/><br/>
                        <a class="twitter-share-button"
  href="<?php echo($url_actual); ?>"></a>
						<script>
                        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
                        </script>
                    </li>
                    <li>
                        <h3 class="texto-evento-grande item_name">{{partyGift.regalo}}</h3>
                        <p style="width:530px;" class="item_description">{{partyGift.descripcion}}</p>

                        <span class="invisible item_itemid">{{partyGift.id}}</span>
                        <span class="invisible item_userid">{{partyGift.bucketgift.user.id}}</span>
                        <span class="invisible item_nombre">{{partyGift.bucketgift.user.nombre}}</span>
                        
                        {% trans %}¿Cuántas partes deseas regalar?{% endtrans %}
                            <select class="item_Quantity">
                                {% for i in 1..partyGift.getHorcruxesComprables %}
                                    <option>{{i}}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="item_add" href="javascript:;" value="{% trans %}Agregar{% endtrans %}">
                    </li>
                    <li>
                        {% trans %}Valor{% endtrans %}<br/>
                        <span class="texto-evento-grande">${{partyGift.getPrecioTotalFormateado}} {{moneda}}</span><br/><br/>
                        {% trans %}Gift dividido en{% endtrans %}<br/>
                        <span class="texto-evento-grande">{{partyGift.horcruxes}} {% trans %}partes{% endtrans %}</span><br/><br/>
                        {% trans %}Valor por parte{% endtrans %}</br>
                        <span class="texto-evento-grande"><span class="item_price">${{partyGift.getPrecioParteFormateado}}</span> {{moneda}}</span><br/><br/>
                    </li>
                </ul>
            </div>
        </div>
        {% block footer %}
            {% include ':plantillasParciales:footer.html.twig' %}
        {% endblock %}
    </div>
</div>

	{% block modales %}
        {% include ':plantillasParciales:modalCarrito.html.twig' %}
        {% include ':plantillasParciales:modalSeleccion.html.twig' %}
    {% endblock %}}

<script>
$( "div.ingresar" ).click(function() {
  $( "div#login" ).toggleClass( "show" );
});

$( "#buscar-click" ).click(function() {
  $( "div.eventos" ).toggleClass( "show" );
});

$( "#buscar-click" ).click(function() {
  $( "#evento-desplegar" ).toggleClass( "hide" );
});

$( ".evento-tr" ).click(function() {
  $( "#evento-desplegar" ).toggleClass( "hide" );
  $( "#evento-desplegar" ).toggleClass( "show" );
});

function enviaformulario() {
   win = window.open('','myWin','toolbars=0,width=400,height=600');            
   document.myForm.target='myWin';
   document.myForm.submit();
}

simpleCart({
    checkout: {
        type: "SendForm" , 
        url: "{{ url('nw_paypal_express_checkout_prepare_purchase') }}",
        method: "POST",
    },
    cartStyle: "table", 
    cartColumns: [
        { attr: "currency"},
        { attr: "userid"},
        { attr: "nombre"},
        { attr: "itemid" , label: "ID" },
        { attr: "name" , label: "Gift" },
        { attr: "description" , label: "{% trans %}Descripción{% endtrans %}" },
        { attr: "price" , label: "{% trans %}Precio{% endtrans %}", view: 'currency' } ,
        { view: "decrement" , label: false , text: "-" } ,
        { attr: "quantity" , label: "{% trans %}Cantidad{% endtrans %}" } ,
        { view: "increment" , label: false , text: "+" } ,
        { attr: "total" , label: "SubTotal", view: 'currency' } ,
        { view: "remove" , text: "{% trans %}Remover{% endtrans %}" , label: false }
    ]
});
simpleCart.shipping(function(){
    return simpleCart.total()*.06+4;
});

var itemTemporal;

simpleCart.bind( 'beforeAdd' , function( item ){
    var items = [];
    var itemsNombre = [];
    //var itemsIndizados = [];
    simpleCart.each(function( item , x ){
        items.push( item.get('userid') );
        itemsNombre.push( item.get('nombre') );
        //itemsIndizados[item.get('userid')] = item.get('nombre');
    });

    if(!verificarCarrito(items, item.get('userid')))
    {
        itemTemporal = item;
        actualizarBotones(itemsNombre[0], item.get('nombre'))
        $("#seleccion").modal();
        return false;
    }

    simpleCart.currency(item.get("currency"));
    $("#carritoCurrency").html(item.get("currency"));

});

// Funcion que busca los nombre de los dos usuarios a quienes se les quiere regalar y actualiza los botones
function actualizarBotones(nombre1, nombre2)
{
    // Primer botón
    $("#seleccion1").html(nombre1);

    // Segundo botón
    $("#seleccion2").html(nombre2);
}

// Verdadero si todo está bien, falso si se tiene que abrir el modal
function verificarCarrito(usuarios, usuarioActual)
{
    for (var i = usuarios.length - 1; i >= 0; i--)
    {
        if (usuarios[i] != usuarioActual)
        {
            return false;
        }
    }
    return true;
}

// Clic en el boton1 de seleccion
$("#seleccion1").click(function() {
    // Solo cerrar modal
    $.modal.close();
});

// Clic en el boton2 de seleccion
$("#seleccion2").click(function() {
    simpleCart.empty();
    simpleCart.add({ 
        currency: itemTemporal.get("currency"),
        userid: itemTemporal.get("userid"),
        nombre: itemTemporal.get("nombre"),
        itemid: itemTemporal.get("itemid"),
        name: itemTemporal.get("name"),
        description: itemTemporal.get("description"),
        price: itemTemporal.get("price"),
        quantity: itemTemporal.get("quantity")
    });
    simpleCart.currency(itemTemporal.get("currency"));
    $("#carritoCurrency").html(itemTemporal.get("currency"));
    //despues cerrar modal
    $.modal.close();
});


// Cuando carga el carrito, se establece su moneda
simpleCart.ready( function(){
    simpleCart.each(function( item , x ){
        simpleCart.currency(item.get("currency"));
        $("#carritoCurrency").html(item.get("currency"));
    });
});

</script>

{% set transaccion = app.session.flashbag.get("transaccion") %}
{% if (transaccion is not empty) %}
    <script>
        $(document).ready(function(){
            simpleCart.empty();
        });
    </script>
{% endif %}

<script src="{{ asset('js/wow.min.js') }}"></script>
<script>
 new WOW().init();
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=164094660959&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>