{# src/NW/PrincipalBundle/Resources/views/Proveedores/nuestro-checklist.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="container">
				
				<div class="row">
					<div class="col-xs-8"></div>
					<div class="col-xs-4" style="text-align:right;">
						<div class="punto-verde-bueno hacerTooltip" style="float:left; margin-right:20px; margin-top:2px;" data-toggle="tooltip" data-placement="left" title="Aquí podrás anotar todos tus pendientes que surjan durante la preparación de tu boda.">?</div>
						<h1 style="float:left;">Nuestro Checklist</h1>	
					</div>	
				</div>

				{% if formAgregar.tarea.vars['errors'] is not empty or formAgregar.categoria.vars['errors'] is not empty or formAgregar.descripcion.vars['errors'] is not empty%}
				    <div class="row">
				    	No se agregó la nueva tarea, pues hay errores en el formulario
				    </div>
				{% endif %}

				<div class="row">
					<div class="col-xs-3">
						
					</div>
					<div class="col-xs-8">
						<p class=" verde3" style="margin-top:12px; text-align:right;">
							Agrega una nueva tarea
						</p>
					</div>
					<div class="col-xs-1">
						
						<!-- CHECKLIST -->
						<!-- Button trigger modal -->
						<input type="image" src="{{asset('img/novios/mas.png')}}" data-toggle="modal" data-target="#myModal" style="width:40px; height:60px; margin-top:-10px; margin-left:-30px;">
						 

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						      <div class="modal-header">
						      	<div class="row">
						      		<div class="col-xs-5">
							        	<h4 class="modal-title rosa" id="myModalLabel">Mi Checklist<br>Agregar Tarea</h4>
						        	</div>
						        	<div class="col-xs-1">
										
						        	</div>
						        	<div class="col-xs-5">
										<img src="{{asset('img/nw.png')}}" width="80%">
						        	</div>
						        	<div class="col-xs-1">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        	</div>
						        </div>
						      </div>
						      
						      <div class="modal-body">
						      	<div class="row">
						      		{{ form_start(formAgregar) }}
						      		<div class="col-xs-9">
						      			<div class="row">
							      			<div class="col-xs-12">
							      				<span class="error-formulario">{{ form_errors(formAgregar.tarea) }}</span>
							      				{{ form_widget(formAgregar.tarea, { 'attr': {'class': 'input_small', 'placeholder': 'Nombre de la tarea' } }) }}
								        		<br>
								        		<span class="error-formulario">{{ form_errors(formAgregar.categoria) }}</span>
								        		{{ form_widget(formAgregar.categoria, { 'attr': {'class': 'input_small', 'placeholder': 'Categoría' } }) }}
								        		<br>
								        		<span class="error-formulario">{{ form_errors(formAgregar.descripcion) }}</span>
								        		{{ form_widget(formAgregar.descripcion, { 'attr': {'class': 'textarea_small', 'placeholder': 'Descripción' } }) }}
								        	</div>
							        	</div>
									</div>

									<div class="col-xs-3">
										<div class="row" style="margin-top:0px;">
											<div class="col-xs-12">
												{{ form_widget(formAgregar.Agregar, { 'attr': {'class': 'botoncitoRosa', 'style': 'width:120px; margin-right:50px; bottom:0px;' } }) }}
											</div>
										</div>
									</div>
									{{ form_end(formAgregar) }}
								</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- FIN AGREGAR CHECKLIST -->
						
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-3">
						<h5 class="art" style="float:left;">
							Estatus
						</h5>
						<img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-2">
						<h5 class="art">
							Tarea
						</h5>
					</div>
					<div class="col-xs-3">
						<h5 class="art" style="float:left;">
							Categoría
						</h5>
						<img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-3">
						<h5 class="art">
							Descripción
						</h5>
					</div>
				</div>
				<hr />

				{% for task in tasks %}
				<div class="row">
					<div class="col-xs-3" style="padding-top:10px;">
						{% if task.status %}
							<a href="{{url('nw_principal_novios_task_descompletar', {'id': task.id})}}">
								<span class="cuadro_confirmacion">&nbsp;✓</span>
								<span class="rosa">Completado</span>
							</a>
						{% else %}
							<a href="{{url('nw_principal_novios_task_completar', {'id': task.id})}}">
								<span class="cuadro_confirmacion"></span>
								<span class="rosa">Sin Completar</span>
							</a>
						{% endif %}
					</div>
					<div class="col-xs-2">
						<h6>
							{{ task.tarea }}
						</h6>
					</div>
					<div class="col-xs-3">
						<h6>
							{{ task.categoria }}
						</h6>
					</div>
					<div class="col-xs-3">
						<h6>
							{{ task.descripcion }}
						</h6>
					</div>
					<div class="col-xs-1">
						<div class="col-xs-1">
							<a href="{{url('nw_principal_novios_task_delete', {'id': task.id})}}"><img src="{{asset('img/bote.png')}}"></a>
						</div>
					</div>
				</div>
				<hr />

				{% endfor %}

			</div>

{% endblock %}