<!doctype html>
<html lang="{{app.request.locale}}">
<head>
	<meta charset="UTF-8">
	<title>{%block title%}PartyGift{%endblock%}</title>
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{asset('js/jquery.scrollTo-1.4.3.1-min.js')}}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
    <script> $.validate(); </script>
</head>
<body>
<center>

				<div class="header-registro"><img src="{{ asset('img/partygift-logo.png') }}" width="200"/></div>
				<div>{% for flashMessage in app.session.flashbag.get('notice') %}
		    <div class="alert alert-info">
		        <br><span style="color:red;">{{ flashMessage }}</span>

		    </div>
		{% endfor %}</div>
				<form action="{{ url('pg_party_registro') }}" method="post" id="registration-form" name="myForm" class="contacto-main">
				<h3 class="registro">{% trans %}REGISTRO{% endtrans %}</h3>
				<label>
					<input type="text" data-validation="email" value="{{emailpasado}}" id="registroPartyForm_email" name="registroPartyForm[email]" placeholder="{% trans %}Correo electrónico{% endtrans %}" data-validation-error-msg="{% trans %}Por favor pon un correo electrónico real.{% endtrans %}"/>
				</label><br />
                <label>
					<input type="text" placeholder="{% trans %}Nombre{% endtrans %}" id="registroPartyForm_nombre" name="registroPartyForm[nombre]" data-validation="required" data-validation-error-msg="{% trans %}Por favor pon tu nombre.{% endtrans %}"/>
				</label><br />
                <label>
					<input type="text" placeholder="{% trans %}Apellidos{% endtrans %}" id="registroPartyForm_apellidos" name="registroPartyForm[apellidos]" data-validation="required" data-validation-error-msg="{% trans %}Por favor pon tus apellidos.{% endtrans %}"/>
				</label><br />
                
                 <span class="moneda">{% trans %}Moneda{% endtrans %}:</span> 
                 <select id="registroPartyForm_moneda" name="registroPartyForm[moneda]">
                 	<option value="ARS">ARS - Peso Argentino</option>
					<option value="AUD">AUD - Australian Dollar</option>
					<option value="BOB">BOB - Boliviano</option>
					<option value="BRL">BRL - Real Brasileiro</option>
					<option value="CAD">CAD - Canadian Dollar</option>
					<option value="CLP">CLP - Peso Chileno</option>
					<option value="COP">COP - Peso Colombiano</option>
					<option value="DKK">DKK - Danish Krone</option>
					<option value="EUR">EUR - Euro</option>
					<option value="GBP">GBP - Great Britain Pound</option>
					<option value="GTQ">GTQ - Quetzal Guatemalteco</option>
					<option value="HKD">HKD - Hong Kong Dollar</option>
					<option value="MXN">MXN - Peso Mexicano</option>
					<option value="NOK">NOK - Norwegian Krone</option>
					<option value="NZD">NZD - Nueva Zelanda Dollar</option>
					<option value="PEN">PEN - Sol Peruano</option>
					<option value="SEK">SEK - Swedish Krone</option>
					<option value="USD">USD - US Dollar</option>
					<option value="VEF">VEF - Bolivar Venezolano</option>
				</select>
                
                <label>
					<input type="password" placeholder="{% trans %}Contraseña{% endtrans %} (6-20 caracteres)" id="registroPartyForm_userPass" name="registroPartyForm[userPass]" maxlength="20" data-validation-length="6-20" data-validation="strength" 
		 data-validation-strength="2" data-validation-error-msg="{% trans %}Por favor pon una contraseña más fuerte.{% endtrans %}"/>
				</label><br />
                <label>
					<input type="password" placeholder="{% trans %}Confirmar contraseña{% endtrans %}" id="registroPartyForm_userPass2" name="registroPartyForm[userPass2]"maxlength="20" data-validation="" data-validation-error-msg="{% trans %}Las contraseñas no coinciden.{% endtrans %}"/>
				</label><br />
				
				
				<input type="submit" value="{% trans %}Enviar{% endtrans %}">
				</form>
		</center>
<script>
 
  $.validate({
    modules : 'location, date, security, file',
    onModulesLoaded : function() {
      $('#country').suggestCountry();
    }
  });
 
  // Restrict presentation length
  $('#presentation').restrictLength( $('#pres-max-length') );
 
</script>
</body>
</html>